@import '../../../index.scss';

.header {
    background: url(../../../../public/images/header_background.png) no-repeat center;
    background-size: cover;
    padding-bottom: 65px;    

    &__inner {
        @include main-align();
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__text {
        max-width: 320px;
    }
}