@import '../../index.scss';

.booking-form {
    display: flex;
    align-items: center;
    background: #fbfaf9;
    border-radius: 5px;
    max-width: 630px;
    margin-left: 100px;
    margin-top: -48px;
    margin-bottom: 140px;
    padding: 18px 50px 18px 18px;

    &__content {
        border-right: 1px solid #9DACB8;
        padding: 0 30px;
    }

    &__label {
        display: block;
        font-weight: 600;
        font-size: 18px;
        color: $dark-color;
        line-height: 160%;
    }

    &__input {
        display: block;
        width: 82px;
        height: 30px;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
    }

    &__select {
        display: block;
        width: 82px;
        height: 30px;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;

    }
}

.select {
    border-right: none;
}