@import '../../index.scss';

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
    border-bottom-color: $blue-color;    
}

.react-datepicker {
    border: none;
    box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.5);    
}

.react-datepicker__header {
    background: $blue-color;   
    border-bottom: none;   
}

.react-datepicker__current-month, .react-datepicker__day-name {
    color: $white-color;
    font-weight: 500;
}

.react-datepicker__day {
    font-weight: 500;
}

.react-datepicker__day--selected {
    background: $blue-color;    
}

.react-datepicker__navigation-icon::before {    
    border-color: $white-color;
    border-width: 2px 2px 0 0;   
}

.react-datepicker__navigation--next:hover {
    border-color: $dark-color;
}