.room {
    
    &__item {
        margin-bottom: 50px;
    }

    &__image {         
        width: 610px;
        height: 440px;       
        border-radius: 5px;
        margin-bottom: 20px;        
    }   
}