.Button {
    width: 134px;
    height: 54px;
    background: #1B75BB;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    display: block;
    cursor: pointer;
    border: none;    
}