.social-networks {
    display: flex;    

    &__item:not(:last-child) {
        margin-right: 30px; 
    }

    &__link {
        display: block;               
    }
}

.facebook {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../../../../public/images/icon_facebook.png) no-repeat center;    
}

.instagram {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../../../../public/images/icon_instagram.png) no-repeat center;    
}

.twitter {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../../../../public/images/icon_twitter.png) no-repeat center;    
}

.google {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../../../../public/images/icon_google.png) no-repeat center;    
}