@import '../../index.scss';

.video-content {
    @include main-align();
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 140px;
}

.reviews-content {
    @include main-align();
    display: flex;
    flex-direction: column;
    align-items: center;    
}